/*#FFD700 - GOLD color code*/
body.container{
	margin-top: 20px;
}

h3.logo-text{
	margin-top: 0px;
	margin-bottom: 0px;
}
h1, h2, h3, h4, h5, p{
	font-family: Quicksand;
	font-style: normal;
	font-variant: normal;
}
form.navbar-form.search{
	margin-top: 15px;
}

div.wrapper{
	background-color: #e7e7e7;
}
div.wrapper.container-fluid{
	padding: 0px;
	margin-bottom: 20px;
	border-radius: 5px;
}
div.jumbotron{
	background-color: inherit;
}
h3.navbar-toggle.collapsed.breadcrumbp{
	float: left;
	background-color: inherit;
	padding: 0px;
	padding-left: 10px;
	margin-top: 10px;
	border: none;
}

div.main{
	height: auto;
}
div.secondary.col-md-3{
	margin-bottom: 10px;
}

div.copyright{
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	color: #92E0FD;
}
footer{

	/*border-top: solid;*/
	/*border-color: #fff;*/
	border-radius: 0px 0px 5px 5px;
	background-color: #787878;
	color: #fff;
	padding:20px;
	/*font: 14px 'PT Sans', sans-serif;*/
}